@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200');
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --text-color: #FFFFFF;
    --icon-color: #adafb6;
    --placeholder-color: #cccccc;
    --outgoing-chat-bg: #343541;
    --outgoing-chat-border: #343541;
    --incoming-chat-bg: #444654;
    --incoming-chat-border: #444654;

}
span.material-symbols-outlined {
  user-select:none;
  cursor:pointer;
}
body{
    background:var(--outgoing-chat-bg);
}
/*.chat-container -> .chat*/
.chat-container .chat{
    padding: 25px 10px;
    display:flex;
    justify-content: center;
    color:var(--text-color);
}
.chat-container .chat-outgoing{
    background: var(--outgoing-chat-bg);
    border:1px solid var(--outgoing-chat-border) ;
}
.chat-container .chat-incoming{
    background: var(--incoming-chat-bg);
    border:1px solid var(--incoming-chat-border) ;
}
.chat .chat-content{
    display:flex;
    max-width: 1200px;
    width:100%;
    align-items: flex-start;
    justify-content: space-between;
}
.chat .chat-content span{
    font-size: 1.3rem;
    color:var(--icon-color);
    visibility:hidden;
}
.chat:hover .chat-content span{
    visibility:visible;
}
.chat .chat-details{
    display:flex;
    align-items: center;
}
.chat .chat-details img{
    width: 60px;
    height:60px;
    object-fit:cover;
    border-radius: 10px;
}
.chat .chat-details p{
    white-space: pre-wrap;
    font-size: 1.05rem;
    padding:0 50px 0 25px;
}
